/* Teléfonos */
@media (max-width: 479px) {
    .container_matches{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        align-items: center;
        width: 100%;
        gap: 4px;
        overflow-y: auto;
        .section_match_card{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            padding-left: 8px;
            padding-right: 8px;
            border: 1px solid var(--border-gris-elements);
            background-color: var(--background-color-green-transparent);
            .item_matches{
                color: var(--color-text-background)
            }
            .item_matches_date{
                border-left: 1px solid var(--border-gris-elements);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
                color: var(--color-text-background);
                width: 40%;
            }
            .section_match{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 50%;
            }
        }
}
}

/* Teléfonos grandes */
@media (min-width: 480px) and (max-width: 767px) {}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1439px) {}

/* Pantallas grandes */
@media (min-width: 1440px) {}

